@import url('https://use.fontawesome.com/releases/v5.0.1/css/all.css');

/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
 /*    background-color:#540B51; */
}

#navcontainer {
    display: flex;
    background-color: #540B51;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 25px;
}


.img-li {
    width: 50%;
}

#logoslack {
    width: 20vw;
    position: absolute;
    left: 15px;
}

.icons_li {
    background-color: #540B51;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* align-content: center; */
}

.icon {
    background-color: #540B51;
    width: 13%;
    display: flex;
    justify-content: flex-start;
    border: none;
    /* align-self: flex-start; */

}


header {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #540B51;
}

#team {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    max-width: 500px;


}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#slackfree {
    padding-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 20px;
}

#strong {
    color: #ECB12F;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#singup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.google_sign {
    height: 50px;
    width: 50vw;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 6%;
    text-transform: uppercase;
    position: relative;
}

#logoG {
    display: flex;
    height: 3vh;
    width: 3vw;
    position: absolute;
    align-content: flex-end;
    /* padding: 5px; */
    align-items: center;
    background-color: white;
    left: 10px;
    bottom: 10px;


}

#botonazul {
    background-color: #4285F4   ;
    color: white;

}

#slack-screenshot {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
}

#screenshot {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

main{
    background-color:#F3EAE2 ;
}


#conect{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

#txttrust{
    color:black;
    font-size: 28px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 50px 18px 50px 18px;
    font-weight: bold;
}

#marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-evenly;
     flex-wrap: wrap; 
    align-items: baseline;
    width: 100%;
  
} 

/* #marcas img:last-of-type(1),
#marcas img:last-of-type(2){
    width: 60%;
} */

.sizemarca{
width: 38%;

}  